# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
*.egg-info/
.env
.venv/
venv/

# OS
.DS_Store

# Local scratch files
scratch/
outputs/
inputs/

# Large files
*.pt
*.npy
*.npz

# Keep demo data
!examples/data/